extends layout

block content
    .index-wrapper
        .nav-bar
            .logo-container
                img(src='/images/logo.svg', alt='Logo')
                .button-close-navbar &#x2B05;
        .chatbot
            p OK
            