extends layout

block content
    .index-wrapper
        .header
            img(src='/images/logo.svg', alt='Logo')
        .navbar
            .navbar-container-1
                span Menu
                .navbar-menu-container
                    a(href='/dashboard').menu-option
                        img(src='/images/icon-dashboard.svg', alt='Dashboard Icon')
                        span Dashboard
                    a(href='/profile').menu-option
                        img(src='/images/profile-icon.svg', alt='Profile Icon')
                        span Profile
                    a(href='/chatbot').menu-option
                        img(src='/images/icon-chatbot.svg', alt='Chatbot Icon')
                        span Chatbot
                    a(href='/settings').menu-option
                        img(src='/images/icon-settings.svg', alt='Settings Icon')
                        span Settings
                    a(href='/logout').menu-option
                        img(src='/images/icon-logout.svg', alt='Logout Icon')
                        span Logout
            .navbar-container-2.button-close-navbar
                .arrow-left
        .chatbot
            .chat-container
                span#chatGreeting Hi, what can I help you with?
                form#chatForm(action="/").chatbox
                    textarea#message(placeholder="How can I help you today?" maxlength="1000")
                    .buttons-chat
                        .button-chat-filters
                            img(src='/images/icon-filter.svg', alt='Filter Icon')
                        button#sendButton(type="submit")
                            | &#x2191;
            .search-engine-container
                .search-engine-options-content-container
                    .search-engine-settings-container.active(data-pane="settings")
                        h2 Settings
                        .settings-box
                            form#settingsForm(action="/")
                                fieldset#basicSettingsForm
                                    legend Basic Settings
                                    label(for="input_language") Input Language
                                    select(id="input_language" name="input_language")
                                        option(value="en" selected) English
                                        option(value="ro") Română
                                    label(for="output_language") Output Language
                                    select(id="output_language" name="output_language")
                                        option(value="en" selected) English
                                        option(value="ro") Română
                                    button#saveBasicSettings(onclick="") Save
                                    span.save-confirmation#basicSaveMsg
                                fieldset#advancedSettingsForm
                                    legend Advanced Settings
                                    label(for="retrieve_only_chunks") Retrieve Only Chunks
                                    select(id="retrieve_only_chunks" name="retrieve_only_chunks")
                                        option(value="True") True
                                        option(value="False" selected) False
                                    span (Default value is: False)
                                    label(for="precise_chunking") Precise Chunking
                                    select(id="precise_chunking" name="precise_chunking")
                                        option(value="True") True
                                        option(value="False" selected) False
                                    span (Default value is: False)
                                    label(for="retrieve_limit") Retrieve Limit
                                    input(type="number" id="retrieve_limit" name="retrieve_limit" value="10" min="0" max="1000")
                                    span (Default value is: 10)
                                    label(for="retrieve_limit") Sources of Knowledge
                                    .documents-wrapper    
                                        #documents_container
                                            //- Documents will be loaded here
                                        .spinner-overlay.hidden#documentsSpinnerOverlay
                                            .spinner
                                    button#saveAdvancedSettings(onclick="") Save
                                    .save-confirmation#advancedSaveMsg

                        form#upload-file-container
                            fieldset
                                legend Upload File
                                label(for="template_folder") Template folder
                                select(id="template_folder" name="template_folder")
                                    option(value="Fise produse - Agropan" selected) Fise produse - Agropan
                                    option(value="Default") Default
                                    option(value="Create a new one") Create a new one
                                label(for="new_template_folder") New template name
                                input(type="text" id="new_template_folder" name="new_template_folder")
                                label(for="loadfile") Choose File
                                button#upload_loadfilebutton(type="button")
                                    img.upload-icon(src='/images/icon-upload-file.svg', alt='Upload File Icon')
                                    span.selected-filename#upload_filename
                                    img.remove-file-icon(src='/images/icon-delete-bin.svg', alt='Remove File')
                                input(type="file" style="display:none;" id="loadfile" name="file" required)
                                #upload-file-submit-container
                                    input(type="submit")
                        
                        form#update-file-container
                            fieldset
                                legend Update File
                                label(for="update_folder") File folder
                                select(id="update_folder" name="template_folder")
                                    option(value="Fise produse - Agropan" selected) Fise produse - Agropan
                                label(for="updated_file") Choose File
                                button#update_loadfilebutton(type="button")
                                    img.upload-icon(src='/images/icon-upload-file.svg', alt='Upload File Icon')
                                    span.selected-filename#update_filename
                                    img.remove-file-icon(src='/images/icon-delete-bin.svg', alt='Remove File')
                                input(type="file" style="display:none;" id="updated_file" name="file" required)
                                #update-file-submit-container
                                    input(type="submit")

                    .search-engine-sources-content-container(data-pane="sources")
                        #sources-container
                            h2 Sources
                            #sources-container-2
                                //- This div will be populated by your Sources class
                                p Sources for the latest answer will be displayed here.



                .search-engine-options-container
                    //- Added button elements, data-tab attributes, and the .active class.
                    .search-engine-options.active(data-tab="settings")
                        img(src='/images/icon-settings.svg', alt='Settings Icon')
                        span Settings
                    .search-engine-options(data-tab="sources")
                        img(src='/images/icon-magnifying-glass.svg', alt='Magnifying Glass Icon')
                        span Sources
