doctype html
html
    head
        title= currentPage
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js')
        script(src='/javascripts/index.js')
        script(type="module" src="/javascripts/chatbot_main.js")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        block content
